.balloon-left {
    position: relative;
    display: inline-block;
    background: #eaeff4;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

.balloon-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #eaeff4;
    z-index: 0;
}

.balloon-right {
    position: relative;
    display: inline-block;
    color: white;
    background: #65c2d3;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

.balloon-right:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #65c2d3;
    z-index: 0;
}