<div id="keyboard">
  <button class="key" data-note="60">C</button>
  <button class="key" data-note="61">C#</button>
  <button class="key" data-note="62">D</button>
  <button class="key" data-note="63">D#</button>
  <button class="key" data-note="64">E</button>
  <button class="key" data-note="65">F</button>
  <button class="key" data-note="66">F#</button>
  <button class="key" data-note="67">G</button>
  <button class="key" data-note="68">G#</button>
  <button class="key" data-note="69">A</button>
  <button class="key" data-note="70">A#</button>
  <button class="key" data-note="71">B</button>
  <button class="key" data-note="72">C</button>

  <audio id="key_60" src="sounds/piano/60.mp3"></audio>
</div>