<div class="row text">
  <div class="col-md-6 offset-md-3 mt-4">
    <div id="loginArea" class="card">
      <div class="card-header bg-info text-white text-center">
        <h4 class="h4 ">Chat Login</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Name:</label>
          <input id="inputName" type="text" name="login_name" class="form-control">

          <label>Icon:</label>
          <div id="iconList"></div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-block btn-primary" id="login">Login</button>
      </div>
    </div>
  </div>
</div>