<div class="form-group">
  <textarea type="text" class="form-control mt-3" id="message" placeholder="Message"></textarea>
</div>
<div class="form-group">
  <button class="btn btn btn-primary rounded-pill" id="send">Send</button>
</div>
<div id="stampList"></div>