<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <form action="/user/auth" method="post">
      <div class="card">
        <div class="card-header">
          <h2 class="h2"><%=title %></h2>
        </div>
        <div class="card-body">
          <h4>ID</h4>
          <input class="form-control" type="text" name="login_name">

          <h4>PW</h4>
          <input class="form-control" type="password" name="password">
        </div>
        <div class="card-footer text-center">
          <a href="/" class="btn btn-outline-primary">Back</a>
          <button class="btn btn-primary">Loigin</button>
        </div>
      </div>
  </div>
  </form>
</body>

</html>