<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div>
      <a href="/profile">プロフィール</a>
      <a href="/item">商品一覧</a>
    </div>
    <h1 class="h1"><%= title %></h1>
  </div>

</body>

</html>