<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h2 class="h2"><%=title %></h2>
    <form action="/auth" method="post">
      <h4>ID</h4>
      <input class="form-control" type="text" name="login_name">

      <h4>PW</h4>
      <input class="form-control" type="password" name="password">

      <button class="btn btn-outline-primary">Loigin</button>
    </form>
  </div>
</body>
</html>