<div>
  <dl>
    <dt>名前</dt>
    <dd><%= user.name %></dd>
    <dt>出身地</dt>
    <dd><%= user.birthplace %></dd>
    <dt>趣味</dt>
    <dd>
      <% if (user.hobby) { %>
      <% user.hobby.split(',').forEach((hobby) => { %>
      <%= hobby %>
      <% }) %>
      <% } %>
    </dd>
  </dl>
</div>