<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <h2 class="h2"><%=title %></h2>
    <div class="alert alert-success">
      this is about page.
    </div>
    <a class="btn btn-outline-primary" href="/">Back</a>
  </div>
</body>

</html>